/*********************************************************************
Poké Red Color Palette
*********************************************************************/
$poke-red-0: #FF3838;
$poke-red-1: #FF8787;
$poke-red-2: #FF5C5C;
$poke-red-3: #EC0808;
$poke-red-4: #B50202;
