img {
  -webkit-box-shadow: 5px 5px 5px rgba(128,128,128,0.75);
  -moz-box-shadow: 5px 5px 5px rgba(128,128,128,0.75);
  box-shadow: 5px 5px 5px rgba(128,128,128,0.75);
  cursor: pointer;
  margin: 1.5rem;
  max-width: 200px !important;
}

img:active, img:focus, img:hover {
  -webkit-box-shadow: 5px 15px 15px rgba(128,128,128,0.6);
  -moz-box-shadow: 5px 15px 15px rgba(128,128,128,0.6);
  box-shadow: 5px 15px 15px rgba(128,128,128,0.6);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
