nav {
  background-color: black;
  color: white;
  font-size: 1rem;
}

#game-brand, #game-score {
  font-weight: 600;
}

#game-brand {
  font-size: 1.5rem;
}

#game-msg {
  animation: blink 2s linear infinite;
}

@keyframes blink {
    0% { opacity: 0; }
   25% { opacity: 0.25; } 
   50% { opacity: 0.5; }
   75% { opacity: 0.75; }
  100% { opacity: 1; }
}
